body {
  background-color: #f0f0f0;
  font-family: 'Poppins', sans-serif;
  color: #333;
}

header {
  text-align: center;
  background-color: #0047ab;
  color: white;
  padding: 20px;
  border-radius: 10px;
}
